<!DOCTYPE html>
<html>
<head th:replace="index :: head">
	
	<title>Agregar Jugador</title>
	<meta charset="utf-8">

</head>
<body class="animsition">
	<div class="page-wrapper">		 
		
		 <div th:replace="calendar :: importCalendar" > </div>

	     <aside th:replace="index :: aside" ></aside>
	 	
	 	 <div class="page-container">
	 	 	 <header th:replace="index :: header"></header>
	 	 </div>
	 	
	 	<br>
	 	<!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row justify-content-end">
                            <div class="col-lg-9">
                                <div class="card">
                                    <div class="card-header">
                                     <strong>  Agregar Jugador</strong> 
                                     
                                     <div th:if="${fallo}" class="alert alert-danger" role="alert">
										  Error no guardo correctamente!!
									</div>
									
									<div th:if="${exito}" class="alert alert-success" role="alert">
										  Se guardo Correctamente!!
									</div>
									
									
                                    </div>
                                    <div class="card-body card-block">
                                        <form action="" th:action="@{/jugador/saveJugador}" method="post" th:object=${jugadorSave} enctype="multipart/form-data" class="form-horizontal">

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Nombre Jugador</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input th:field="*{nombreJugador}" th:value="*{nombreJugador}" type="text" id="text-input" name="text-input" 
                                                    placeholder="" class="form-control" required>

                                                    <div class="valid-feedback">Dato ingresado correctamente</div>
											        <div class="invalid-feedback">complete el campo </div>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Fecha Nacimiento</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input th:field="*{fechaNacimiento}" th:value="*{fechaNacimiento}"  id="datepickerFundacion" name="fecha_inicio"  class="form-control" 
                                                    value="" required >
                                                    <div class="valid-feedback">Dato ingresado correctamente</div>
											        <div class="invalid-feedback">complete el campo </div>
                                                    <script>
                                                        $('#datepickerFundacion').datepicker({
                                                            datepicker: true,
                                                            uiLibrary : 'bootstrap4',
                                                            locale: 'es-es',
                                                            format:'yyyy-mm-dd'
                                                        });
                                                    </script>
                                                </div>
                                            </div>
                                            
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label  class=" form-control-label">Año debut</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input th:field="*{aniosDeDebut}" th:value="*{aniosDeDebut}"  type="number"   placeholder="numeros" class="form-control" required>
                                                    <div class="valid-feedback">Dato ingresado correctamente</div>
											        <div class="invalid-feedback">complete el campo </div>
                                                </div>
                                            </div>


                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label  class=" form-control-label">Nacionalidad</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input th:field="*{nacionalidad}" th:value="*{nacionalidad}"  type="text"   placeholder="Pais" class="form-control" required>
                                                    <div class="valid-feedback">Dato ingresado correctamente</div>
											        <div class="invalid-feedback">complete el campo </div>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label  class=" form-control-label">Dorsal</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input th:field="*{dorsal}" th:value="*{dorsal}" type="number"   placeholder="Inicio Laboral" class="form-control" required>
                                                    <div class="valid-feedback">Dato ingresado correctamente</div>
											        <div class="invalid-feedback">complete el campo </div>
                                                   
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label  class=" form-control-label"> Posicion</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input th:field="*{posicion}" th:value="*{posicion}" type="text" class="form-control" required>
                                                    <div class="valid-feedback">Dato ingresado correctamente</div>
											        <div class="invalid-feedback">complete el campo </div>
                                                   
                                                </div>
                                            </div>  
                                             
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label  class=" form-control-label">Número de Goles</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input th:field="*{numeroGoles}" th:value="*{numeroGoles}" type="number"   placeholder="Número total de goles" class="form-control" required>
                                                    <div class="valid-feedback">Dato ingresado correctamente</div>
											        <div class="invalid-feedback">complete el campo </div>
                                                   
                                                </div>
                                            </div>
											<div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label  class=" form-control-label">Número de Faltas</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input th:field="*{numeroFaltas}" th:value="*{numeroFaltas}" type="number"   placeholder="Número total de Faltas" class="form-control" required>
                                                    <div class="valid-feedback">Dato ingresado correctamente</div>
											        <div class="invalid-feedback">complete el campo </div>
                                                   
                                                </div>
                                            </div>
                                            <div class="card-footer text-center" >
		                                        <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Enviar</button>
		                                        <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i> Cancelar</button>
                                   		    </div>                                        
                                        </form>
                                    </div>
                                    
                                </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 	
	</div> 	
	
	<div th:replace="importJs :: importJs"></div>
   
</body>
</html>