<!DOCTYPE html>
<html>
<head th:replace="index :: head">
	
	<title>Agregar Equipo</title>
	<meta charset="utf-8">

</head>
<body class="animsition">
	<div class="page-wrapper">		 
		
		 <div th:replace="calendar :: importCalendar" > </div>

	     <aside th:replace="index :: aside" ></aside>
	 	
	 	 <div class="page-container">
	 	 	 <header th:replace="index :: header"></header>

		 	<br>
		 	<!-- MAIN CONTENT-->
	            <div class="main-content">
	                <div class="section__content section__content--p30">
	                    <div class="container-fluid">
	                        <div class="row">
	                            <div class="col-lg-12">
	                                <div class="card">
	                                    <div class="card-header">
	                                     <strong>  Agregar Entrenador</strong> 
	                                     
	                                      <div th:if="${fallo}" class="alert alert-danger" role="alert">
											  <p th:text="${mensajeFalloGuardar}"></p>
										</div>
										
										<div th:if="${exito}" class="alert alert-success" role="alert">
											  <p th:text="${mensajeExitoGuardar}"></p> 
										</div>
										
										<div th:if="${exitoActualizar}" class="alert alert-success" role="alert">
											  <p th:text="${mensajeExitoActualizar}"></p>
										</div>
										
										<div th:if="${falloActualizar}" class="alert alert-success" role="alert">
											  <p th:text="${mensajeFalloActualizar}"></p> 
										</div>
										
	                                    </div>
	                                    <div class="card-body card-block">
	                                        <form action="" th:action="@{/entrenador/saveEntrenador}" method="post" th:object=${entrenadorSave} enctype="multipart/form-data" class="form-horizontal">
	
												<input type="hidden" th:field="*{idEntrenador}" th:value="${idEntrenador}"  />
												
												<input type="hidden" th:field="*{codigoEntrenador}" th:value="${codigoEntrenador}"  />
												
	                                            <div class="row form-group">
	                                                <div class="col col-md-3">
	                                                    <label for="text-input" class=" form-control-label">Nombre Entrenador</label>
	                                                </div>
	                                                <div class="col-12 col-md-9">
	                                                    <input th:field="*{nombreEntrenador}" th:value="*{nombreEntrenador}" type="text" id="text-input" name="text-input" 
	                                                    placeholder="Nombre Entrenador" class="form-control" required>
	
	                                                    <div class="valid-feedback">Dato ingresado correctamente</div>
												        <div class="invalid-feedback">complete el campo </div>
	                                                </div>
	                                            </div>
	
	                                            <div class="row form-group">
	                                                <div class="col col-md-3">
	                                                    <label for="text-input" class=" form-control-label">Fecha Nacimiento</label>
	                                                </div>
	                                                <div class="col-12 col-md-9">
	                                                    <input th:field="*{fechaNacimiento}" th:value="*{fechaNacimiento}"  id="datepickerFundacion" name="fecha_inicio"  class="form-control" 
	                                                    value="" required >
	                                                    <div class="valid-feedback">Dato ingresado correctamente</div>
												        <div class="invalid-feedback">complete el campo </div>
	                                                    <script>
	                                                        $('#datepickerFundacion').datepicker({
	                                                            datepicker: true,
	                                                            uiLibrary : 'bootstrap4',
	                                                            locale: 'es-es',
	                                                            format:'yyyy-mm-dd'
	                                                        });
	                                                    </script>
	                                                </div>
	                                            </div>
	
												 <div class="row form-group">
	                                                <div class="col col-md-3">
	                                                    <label  class=" form-control-label">Nacionalidad</label>
	                                                </div>

	                                                <div class="col-12 col-md-9">
	                                                	<select th:field="*{nacionalidad}" th:value="*{nacionalidad}" class="form-control-sm form-control"  >
	                                                		<option th:value="'PA'" th:text="Paises"></option>
	                                                		<option th:value="'Argentina'" th:text="Argentina"></option>
	                                                		<option th:value="'Bolivia'" th:text="Bolivia"></option>
	                                                		<option th:value="'Brasil'" th:text="Brasil"></option>
	                                                		<option th:value="'Chile'" th:text="Chile"></option>
	                                                		<option th:value="'Colombia'" th:text="Colombia"></option>
	                                                		<option th:value="'Ecuador'" th:text="Ecuador"></option>
	                                                		<option th:value="'Paraguay'" th:text="Paraguay"></option>
	                                                		<option th:value="'Peru'" th:text="Peru"></option>
	                                                		<option th:value="'Uruguay'" th:text="Uruguay"></option>
	                                                	
	                                                	</select>
	                                                    <div class="valid-feedback">Dato ingresado correctamente</div>
												        <div class="invalid-feedback">complete el campo </div>
	                                                </div>
	                                            </div>
	
	                                            <div class="row form-group">
	                                                <div class="col col-md-3">
	                                                    <label for="text-input" class=" form-control-label">Año Inicio Laboral</label>
	                                                </div>
	                                                <div class="col-12 col-md-9">
	                                                    <input th:field="*{aniosInicioLaboral}" th:value="*{aniosInicioLaboral}"  id="datepickerFundacion2" name="fecha_inicio"  class="form-control" 
	                                                    value="" required >
	                                                    <div class="valid-feedback">Dato ingresado correctamente</div>
												        <div class="invalid-feedback">complete el campo </div>
	                                                    <script>
	                                                        $('#datepickerFundacion2').datepicker({
	                                                            datepicker: true,
	                                                            uiLibrary : 'bootstrap4',
	                                                            locale: 'es-es',
	                                                            format:'yyyy-mm-dd'
	                                                        });
	                                                    </script>
	                                                </div>
	                                            </div>
	                                            
	                                            <div class="row form-group">
	                                                <div class="col col-md-3">
	                                                    <label  class=" form-control-label">Titulos Ganados</label>
	                                                </div>
	                                                <div class="col-12 col-md-9">
	                                                    <input th:field="*{titulosGanados}" th:value="*{titulosGanados}"  type="number"   placeholder="titulos Ganados" class="form-control" required>
	                                                    <div class="valid-feedback">Dato ingresado correctamente</div>
												        <div class="invalid-feedback">complete el campo </div>
	                                                </div>
	                                            </div>
	 
	                                            <div class="card-footer text-center" >
			                                        <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Guardar</button>
			                                        <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i> Cancelar</button>
	                                   		    	<a th:href="@{/entrenador/listaEntrenadores}" class="btn btn-primary offset-md-2"><i class="fa fa-undo"></i></a>
	                                   		    </div>                                
	
	                                        </form>
	                                    </div>
	                                    
	                                </div>
	                        <div class="row">
	                            <div class="col-md-12">
	                                <div class="copyright">
	                                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div> 	
		</div> 	
	</div>
</div>	
	<div th:replace="importJs :: importJs"></div>
   
</body>
</html>