<!DOCTYPE html>
<html>
<head>
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet"
	href="../static/css/bootstrap.css">
	<script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
	<script th:src="@{/js/jquery.js}" src="../static/js/jquery.js"></script>
	<title>Spring Boot</title>
	<meta charset="ISO-8859-1">

</head>
	<body>
		<!-- menu -->
		<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">SpringBoot</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
					aria-controls="navbarNavAltMarkup" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-link active" aria-current="page" href="#">Inicio</a> 
						<a class="nav-link" href="#">Galeria</a> 
						<a class="nav-link" href="#">Post</a>
						<a class="nav-link disabled" href="#" tabindex="-1"
							aria-disabled="true">Disabled</a>
					</div>
				</div>
			</div>
		</nav>
	 	
	 	
	 	<br>
	 	<div class="container">
	 	<h1>Lista de Entrenadores</h1>
	 		<table class="table table-dark">
			  <thead>
			    <tr>
			      <th scope="col">Id</th>
			      <th scope="col">Codigo</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Nacionalidad</th>
			    </tr>
			  </thead>
			  <tbody th:each="entrenador : ${entrenadores}">
				    <tr>
				      <th th:text="${entrenador.idEntrenador}"  scope="row"></th>
				      <td th:text=${entrenador.codigoEntrenador} ></td>
				      <td th:text=${entrenador.nombreEntrenador} ></td>
				      <td th:text=${entrenador.nacionalidad} ></td>
				    </tr>
			  </tbody>
			</table>
	 	
	 	</div>
	 	
	</body>
</html>