<!DOCTYPE html>
<html>
<head th:replace="index :: head">
	
	<title>Listado Entrenadores</title>
	<meta charset="utf-8">

</head>
<body class="animsition">
	<div class="page-wrapper">		
		<!-- MENU SIDEBAR-->
		
		 <div th:replace="dataTable :: dataTable" > </div>
		 
	     <aside th:replace="index :: aside" ></aside>
	 	
	 	 <div class="page-container">
	 	 	 <header th:replace="index :: header"></header>
	 	 </div>
	 	
	 	<br>
	 	<div class="main-content">
                <div class="section__content section__content--p30">
                
                    <div class="container-fluid">
                    	<div class="row justify-content-end" >
                            <div class="col-lg-9" >
			           			<h3 class="text-center ">Listado de Entrenadores </h3>
			                    <hr>
			                    
			                    <div id=botonAgregar class="container text-left text-left">
				                    	<a href="#" class="au-btn au-btn-icon au-btn--blue">Agregar Nuevo Entrenador</a>
				                </div>
				                <br>
			                    
			                    <div class="table-responsive table--no-card m-b-30">

				                    <table id="tblEntrenador" class="table table-borderless table-striped table-earning"  cellspacing="0" width="100%">
				                    	<thead>
											<tr>
												<th scope="col">ID </th>
												<th scope="col">CODIGO ENTRENADOR</th>
												<th scope="col">NOMBRE</th>	
												<th scope="col">NACIONALIDAD</th>
												<th scope="col">INICIO LABORAL</th>
												<th scope="col">TITULOS</th>
												<th scope="col">EDITAR/ELIMINAR</th>
											</tr>
										</thead>
										<tbody th:each="entrenador : ${entrenadores}">
											<tr>
												<td th:text="${entrenador.idEntrenador}" scope="row"></td>
												<td th:text="${entrenador.codigoEntrenador}"></td>
												<td th:text="${entrenador.nombreEntrenador}"></td>
												<td th:text="${entrenador.nacionalidad}"></td>
												<td th:text="${entrenador.aniosInicioLaboral}"></td>
												<td th:text="${entrenador.titulosGanados}"></td>
												<td><a  href="#">Editar</a>
												&nbsp;&nbsp;&nbsp;<a href="#">Eliminar</a></td>
											</tr>
										</tbody>
				                    </table>
				                 </div>
                    		</div>
                    	</div>
                    </div>
                    
                    <script type="text/javascript">
						//Basic example
						$(document).ready(function() {
							$('#tblEntrenador').DataTable({
								"paging" : true // activar o desactivar paginacion 			
							});
						});
					</script>   
                </div>
            </div>	 	
	</div> 	
	
	<div th:replace="importJs :: importJs"></div>
   
</body>
</html>